.main {
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw !important;
  height: 70vh !important;
  z-index: 1;
}

.browserCol {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.browserNav {
  width: 7.5vw;
}

.browserTab {
  flex-grow: 1;
}

.browserItem {
  position: relative;
  width: 15vw !important;
  height: 100% !important;
}

.browserClip {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  overflow-y: scroll;
}

.inspectHeader {
  width: 3em !important;
}

.browserFile {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  overflow-y: scroll;
}

.browserInspectorHeader {
  text-align: center !important;
  border: 3px solid #007bff !important;
  background-color: #c3e6cb !important;
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  margin-bottom: 0 !important;
  font-weight: bold !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.browserInspectorBigCheckbox {
  width: 3vw;
  height: 3vh;
}

.browserInspectorItem {
  font-weight: bold !important;
  text-align: center;
  width: 25% !important;
  height: 25% !important;
  display: inline-block !important;
}

.browserInspectorCol {
  width: 25% !important;
  height: 25% !important;
}

.inspectButton {
  cursor: pointer;
}
