.browserClip {
    width: 15vw !important;
    height: 80vh !important;
    overflow-y: scroll;
}

.browserFile {
    width: 15vw !important;
    height: 80vh !important;
    overflow-y: scroll;
}

.browserTab {
    width: 15vW !important
}

.browserItem {
    width: 7.5vW !important
}
