.main {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw !important;
  height: 79vh !important;
  z-index: 1;
}

.browserCol {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.browserNav {
  width: 7.5vw;
}

.browserTab {
  flex-grow: 1;
}

.browserItem {
  position: relative;
  width: 20vw !important;
  height: 100% !important;
}

.browserClip {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  overflow-y: scroll;
}

.inspectHeader {
  width: 3em !important;
}

.browserFile {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  overflow-y: scroll;
}

.browserInspector {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  overflow-y: scroll;
}

.browserInspectorTable {
  table-layout: fixed;
  word-wrap: break-word;
}

.browserInspectorHeader {
  text-align: center !important;
  border: 3px solid #007bff !important;
  background-color: #c3e6cb !important;
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  margin-bottom: 0 !important;
  font-weight: bold !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.browserInspectorButton {
  width: 50% !important;
}

.inspectButton {
  cursor: pointer;
}

/*
Inspector camera mode
*/

.inspectorCameraNameColumn {
  width: calc(100% - 9em) !important;
  margin: 0;
  min-width: 0;
  display: inline-block !important;
}

.inspectorCameraInclExclColumn {
  margin: 0;
  width: 3em !important;
  display: inline-block !important;
}

.inspectorCameraInfoColumn {
  margin: 0;
  width: 3em !important;
  display: inline-block !important;
}

.inspectorCameraColumnHeader {
  margin: 0 !important;
  font-weight: bold !important;
  text-align: center !important;
  width: 100% !important;
  padding-top: 5px !important;
}

.inspectorCameraNameItem {
  height: 100%;
  overflow: hidden;
  position: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inspectorCameraInclExclItem {
  height: 100%;
}

.inspectorCameraInfoItem {
  height: 100%;
  cursor: pointer;
}

.inspectorCameraClipRow {
  max-width: 100%;
  width: 100%;
  max-height: 10%;
}

.browserButton {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browserButton:hover {
  overflow: visible;
}
