[run]
include = *backend/communication_utils.py
            *backend/database_wrapper.py
            *backend/exporter.py
            *backend/file_manager.py
            *backend/filter_module.py
            *backend/model_serializers.py
            *backend/models.py
            *backend/object_detector.py
            *backend/project_manager.py
            *backend/serialization.py
            *backend/urls.py
            *backend/video_manager.py
            *backend/views.py

branch = False

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.: