.main {
    position: absolute;
    background-color: rgb(209, 0, 0);
    padding: 0;
    border: 1px solid;
    width: 100em;
    height: 20em;
}

.topbar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 16.5%;
    border-bottom: 1px solid;
    background-color: lightsteelblue;
}

.dropdown {
    position: relative;
    top: 5px;
    left: 5px;
    width: 200px;
}

.sliderbox {
    position: relative;
    bottom: 0;
    height: 83.5%;
    width: 100%;
    /*border: 2px solid;*/
    overflow: auto;
    background-color: rgb(106, 158, 255);
}

.slider {
    position: relative;
    height: 100%;
    /*border: 1px solid;*/
    background-color: rgb(106, 158, 255);
}

.line {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: black;
}

.date {
    position: sticky;
    left: 3px;
}