.projectList {
  height: 30em;
  overflow-y: scroll;
}

.projectItem {
  cursor: pointer;
}

.projectItem:hover {
  opacity: 0.9;
}

.projectSubtext {
  font-size: small;
}

.projectDeleteButton {
  position: relative;
  bottom: 1.5em;
  float: right;
  z-index: 2;
}

.projectDeleteButton:hover {
  opacity: 1;
}

.projectDeletionPopoverContent {
  text-align: center;
}
