.viewport {
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 0;
  left: 0;
}

.miniViewport {
  background-color: rgb(43, 44, 46);
  border-radius: 6px;
  position: absolute;
  width: 20vw;
  height: 21vh;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.switchButton {
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin-bottom: 8px;
  right: 1vw;
}

.switchIcon {
  transform: rotate(-45deg);
}
